<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jovian Careers</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h2>Hello there</h2>
    <img
      src="http://127.0.0.1:5000/static/images/banner.jpg"
      alt=""
      srcset=""
      width="350"
    />
    <div>
      {% for job in jobs %}
      <ul>
        <li>{{job['title']}}</li>
      </ul>
      {% endfor %}
    </div>
  </body>
</html>
